/* Add here all your CSS customizations */
body {
  font-family: Arial, "微軟正黑體", "新細明體";
}
.blockquote__bg {
  background-color: #FFFFFF;
}
.image-hotspot {
  align-items: center;
  display: flex;
  height: 3em;
  justify-content: center;
  width: 3em;
}
.image-hotspot strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-hotspot .ring {
  position: absolute;
  left: auto;
  top: auto;
  margin: 0;
}
.image-hotspot .circle {
  position: absolute;
  left: auto;
  top: auto;
  margin: 0;
}
.pro-spec {
  clear: both;
}
.pro-spec ul.specNote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 20px auto;
  max-width: 560px;
  padding: 0;
}
.pro-spec ul.specNote li {
  background-color: #e37605;
  border-radius: 5px;
  color: #FFFFFF;
  line-height: 1.3;
  margin: 10px 5px;
  padding: 10px 5px 10px 5px;
  text-align: center;
  width: 90px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.pro-spec ul.specNote li i {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}
.embed-item {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.special-5 {
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: 0.015rem;
}
.special-10 {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: 0.125rem;
}
.list.list-ordened li.actived::before {
  color: #ffffff;
  background-color: #0088CC;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: linear;
}
.list.list-ordened li.actived h4 {
  color: #0088CC;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: linear;
}
.list.list-alert {
  list-style: none;
}
.list.list-alert li {
  text-indent: -0.75rem;
  padding-left: 1rem;;
}
#footer {
  background-image: url("../img/backgrounds/background-2.jpg");
  background-size: cover;
}
.social-icons li {
  margin: 0 10px 0 0;
}
.social-icons li a {
  height: 35px;
  line-height: 35px;
  width: 35px;
  font-size: 1.5rem;
}
.shop__group a {
  display: inline-block;
  margin: 10px 5px;
}
.shop__group {
  background-color: #ffffff;
}
.owl-item.owl-index.position-relative {
  background-image: url('../img/backgrounds/index_bg.jpg');
  background-size: cover;
}
@media screen and (max-width: 575px) {
  .owl-item.position-relative {
    background-size: cover;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .modal-dialog {
    max-width: 90%;
  }
}

/*  index modal */
.modal__button {
  color: #0088CC;
  text-decoration: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
}
.modal__button:hover {
  color: #0099e6;
  text-decoration: underline;
}
.modal__button--promote {
  color: #28a745;
  text-decoration: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
}
.modal__button:hover {
  text-decoration: underline;
}

/**
* media style
*/
.media-heading {
  margin-bottom: 0;
  color: #ff6600;
  font-size: 24px;
  font-weight: 600;
}
.media-content {
  margin: 15px 0 13px 0;
  color: #86ae3c;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.media-link {
  border-bottom: 1px solid;
}
.media-link:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}